*.rbc
lib/looksee/mri.bundle
lib/looksee/rbx.bundle
lib/looksee/looksee.jar

ext/mri/Makefile
ext/mri/*.o
ext/mri/*.so
ext/mri/*.bundle
ext/mri/*.dll

ext/rbx/Makefile
ext/rbx/*.o
ext/rbx/*.so
ext/rbx/*.bundle
ext/rbx/*.dll

ext/jruby/**/*.class

/pkg
/doc
/tmp
